$bodyColor: rgb(45,114,143);

$buttonColor: rgb(59,142,165);

$buttonBorder: rgb(244,158,76);

$footerText: rgb(245,238,158);

$h1Color: rgb(244,158,76);
$h2Color: rgb(59,142,165);
//font style
$fontStack: 'Lato', sans-serif;
$h1Size: 4em;
$h2Size: 2em;


// color 1: rgb(45,114,143)
// color 2: rgb(59,142,165)
// color 3: rgb(245,238,158)
// color 4: rgb(244,158,76)
