// Landing Page Style Sheet

// h1 styles are located on global.scss


body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)), url("../../assets/landing-pagebg.jpg") ;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: Lato, sans-serif;
    position: relative;
<<<<<<< HEAD
=======

>>>>>>> e3f714f28d61d22a078a18e26246421717d1df33
}

h1{
    font-size: $h1Size;
    color: $h1Color;
}
h2{
    font-size: $h2Size;
    color: $h2Color;
}
.wrapper{
    text-align: center;
}

.appDescription {
    text-align: center;
    color: white;
    margin: 5% 0;
}

// form inputs

.user-form {
    margin: 0 auto;
    width: 100%;
    select, input, button {
        width: 32%;
        margin: 0.5%;
        border-radius: 5px;
    }
    input {
        text-transform: uppercase;
<<<<<<< HEAD
=======
        font-size: 1em;
        margin:10px;
        border-radius: 5px;
>>>>>>> e3f714f28d61d22a078a18e26246421717d1df33
        border: none;
        padding: 11px;
    }
    select{
<<<<<<< HEAD
        font-family: 'Lato', sans-serif;
        background: white;
        border: none;
        padding: 10px;
    }
    button {
        padding: 11px;
=======
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 22px;
    background: white;
    width: 30%px;
    height: 60px;
    border-radius: 0;
    border: none;
>>>>>>> e3f714f28d61d22a078a18e26246421717d1df33
    }
}

.landingButton{
<<<<<<< HEAD
    @include landing-Button;
    padding: 11px;
} 
=======
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    background-color: #f49e4c;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
        a{
            text-decoration:none;

        }
    &:hover{
        background-color: $buttonColor;
    }
    &:active{
        background-color: $bodyColor;
    }    

}
>>>>>>> e3f714f28d61d22a078a18e26246421717d1df33



