// Landing Page Style Sheet

// h1 styles are located on global.scss


body{
<<<<<<< HEAD
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)), url("../../assets/landing-pagebg.jpg") ;
=======
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)), url("../assets/landing-pagebg.jpg") ;
>>>>>>> d273d411f563593bb2651fe5b1cbfcf9da2e5c82
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
<<<<<<< HEAD
=======
<<<<<<< HEAD
    font-family: Lato, sans-serif;
    position: relative;


>>>>>>> 592559b77173cac1f131e5813ebc205601325955
}



=======

}

>>>>>>> d273d411f563593bb2651fe5b1cbfcf9da2e5c82
.wrapper{
    text-align: center;
}
.appDescription {
    text-align: center;
    color: white;
    margin: 5% 0;
}

// form inputs

.user-form {
    margin: 0 auto;
    max-width: 100%;
    input, select, .landingButton{
        width: 32%;
        margin: 0.5%;
    }
    input {
        text-transform: uppercase;
        border: none;
        padding: 11px;
        border-radius: 5px;
    }
    select{
        font-family: 'Lato', sans-serif;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
}

.landingButton{
    @include landing-Button;
    margin: 0;
    padding: 12px 60px;
    border-radius: 5px;
}


