@import "./colours";


// .body{
//     background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)), url("../../assets/landing-pagebg.jpg") ;
//     background-repeat: no-repeat;
//     width: 100vw;
//     height: 100vh;
//     background-position: center;
//     background-size: cover;
//     background-position: fixed;

// }

.wrapper{
    border: 3px dotted red;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)), url("../../assets/landing-pagebg.jpg") ;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
}
.homebutton{
    width: 200px;
}
 button{
    @include meetup-Button;
        a{
            font-size: 1.7em;
            font-family: 'Lato', sans-serif;
            color: white;
        }
}

.meetup{
.meetups {
    border: 2px solid pink;
   
}

 button{
    @include meetup-Button;
}

.meetup{
    border: 3px solid green;
    min-height: 400px;
}
.meetups {
    border: 2px solid blue;
    li {
        border: 7px solid $h1Color;
        width: 31.33%;
        float: left;
        min-height: 380px;
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        margin: 0.5%;
        clear:none;
        border-radius: 15px;
        list-style: none;
    }
}

.meetupInfo {
    height: 360px;
    // min-height: 320px;
    // max-height: 350px;
    padding: 10px;
    border: 2px solid $bodyColor;
    width: 48%;
    float: left;
    min-height: 350px;
    max-height: 380px;
    background: white;
    margin: 0.5%;

}

.meetupInfo {
    border: 2px solid red;
    min-height: 350px;
    max-height: 380px;
    padding: 10px;
}

.meetupHead {
    clear: both;
    min-height: 50px;
    padding: 10px;
    background-color: $buttonColor;
    border-radius: 10px 10px 0px 0px;

}
.meetupMainTitle h2 {
    // border: 2px dotted lightblue;
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 20px;
}

.meetupTagsTitle {
    margin: 5px 0 5px 10px;
    float: left;
    text-align: left;
    clear:both;
    h3, p {
        display: block;
        float: left;
        margin: 5px;
    }
    h3 {
        width: 22%;
        text-align: right;
        // border-right: 3px solid $footerText;
        padding-right: 5px;
        margin-right: 10px;
        font-size: 2rem;
        color: $buttonColor;
    }

    p {
        width: 75%;
        font-size: 2rem;
    }
}

.meetupTags {
    float: left;
    width: 60%;
    max-height: 100%;
    overflow: auto;
}

.meetupLinks{
    width: 35%;
    float: left;
    
}

// .meetupURL, .findResLink {
//     margin: 10px auto;
//     width: 100%;
//     button {
//         width: 100%;
//     }
//     a {
//         text-align: center;
//     }
