@import "./colours";


.meetups {
    border: 2px solid pink;
    .meetup {
        @include tile;
    }
}

 button{
    @include meetup-Button;
}

.meetup{
    border: 3px solid green;
    min-height: 400px;
}
.meetups {
    border: 2px solid blue;
    li {
        border: 2px solid $bodyColor;
        width: 48%;
        float: left;
        min-height: 350px;
        max-height: 380px;
        background: white;
        margin: 0.5%;
    }
}



.meetupInfo {
    border: 2px solid red;
    min-height: 350px;
    max-height: 380px;
    padding: 10px;
}

.meetupHead {
    clear: both;
    min-height: 50px;
    padding: 10px;
    background-color: $buttonColor;

}
.meetupMainTitle h2 {
    // border: 2px dotted lightblue;
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 20px;
}

.meetupTagsTitle {
    border: 2px dotted tomato;
    margin: 5px;
    float: left;
    text-align: left;
    clear:both;
    h3, p {
        display: block;
        float: left;
        margin: 5px;
    }
    h3 {
        width: 22%;
        text-align: right;
        border-right: 3px solid $footerText;
        padding-right: 5px;
        margin-right: 10px;
        font-size: 1.4rem;
        color: $buttonColor;
    }

    p {
        width: 75%;
        font-size: 1.4rem;
    }
}

.meetupTags {
    border: 2px solid tomato;
    float: left;
    width: 70%;
    max-height: 100%;
}

.meetupLinks{
    border: 2px solid green;
    width: 30%;
    float: left;
}

// .meetupURL, .findResLink {
//     margin: 10px auto;
//     width: 100%;
//     button {
//         width: 100%;
//     }
//     a {
//         text-align: center;
//     }
// }
