@mixin tile() {
    border: 1px solid black;
    h2 {
        margin-top: 0;
    }
}

@mixin meetup-Button{
    padding: 10px;
    border: 1px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: $buttonBorder;
    margin: 10px auto;
    margin: 5px;
        a{
            text-decoration:none;
        }
    &:hover{
        background-color: $buttonColor;
    }
    &:active{
        background-color: $bodyColor;
    }    
}

@mixin landing-Button{
    text-align: center;
    text-decoration: none;
    background-color: #f49e4c;
    width: 32%;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
        a{
            text-decoration:none;
         }
    &:hover{
        background-color: $buttonColor;
    }
    &:active{
        background-color: $bodyColor;
    }    

}