@mixin tile() {
    border: 1px solid black;
    h2 {
        margin-top: 0;
    }
}

@mixin meetup-Button{
    padding: 10px;
<<<<<<< HEAD
    border: 1px;
=======
>>>>>>> d273d411f563593bb2651fe5b1cbfcf9da2e5c82
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: $buttonBorder;
<<<<<<< HEAD
    width: 90%;
    margin: 10px auto;
=======
    width: 100%;
    margin: 5px;
>>>>>>> d273d411f563593bb2651fe5b1cbfcf9da2e5c82
        a{
            text-decoration:none;
            

        }
    &:hover{
        background-color: $buttonColor;
    }
    &:active{
        background-color: $bodyColor;
    }    
}

@mixin landing-Button{
    width: 25%;
    padding: 22px 60px;
    text-align: center;
    text-decoration: none;
    background-color: #f49e4c;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
        a{
            text-decoration:none;
            

        }
    &:hover{
        background-color: $buttonColor;
    }
    &:active{
        background-color: $bodyColor;
    }    

}