

.resInfo{
    border: 6px solid $buttonColor;
    list-style: none;
    display: block;
    float: left;
    width: calc(25% - 16px);
    height: 355px;
    margin: 4px;
    border-radius: 15px;
    background: rgba(245, 239, 239, 0.993);
    background-attachment: fixed; 

            p{
            float: left;
            margin: 0;
            padding: 5px;
            font-size: 1.3em;
            text-align:left;
            display: block;
            width: 60%;
        }
         span {
            float: left;
            clear: both;
            padding: 5px;
            color: #2d728f;
            font-size: 1.6rem;
            font-weight: bold;
            float: left;
            display: block;
            width: 37%;
            text-align: left;
        }
        button {
            width: 90%;
            height: 40px;
            border-radius: 30px;
            background-color: $buttonBorder;
            border:none;
            font-family: $fontStack;
                
        }

        a {
            text-decoration: none;
            font-size: 1em;
            font-family: $fontStack;
            padding: 0;
        }
}

.resInfoCont{
    display: block;
    width: 100%;
    padding: 10px;
    min-height: 170px;
}

.resHeader{
    height: 25%;
    background: $buttonBorder;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    border-radius: 10px 10px 0 0px;

        h2{
        letter-spacing: 1.5px;
        font-size: 2.3em;
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        text-align: center;
        padding: 20px 10px;
        margin: 0 auto;
        }
}

.resLink {
    width: 48%;
    float: left;
    margin: 0.5%;
}

.resCont {
    overflow: auto;
    height: 90vh;
    padding: 0;
}